<!DOCTYPE html>
<html>
<head>
<title>Prediction Interface</title>
</head>
<body>

<h1>Prediction Interface</h1>

<form action="/predict" method="post">
<table>
<tr>
<td>Mean Radius:</td>
<td><input type="number" name="mean_radius"step="0.000001" required></td>
</tr>
<tr>
<td>Mean Texture:</td>
<td><input type="number" name="mean_texture"step="0.000001" required></td>
</tr>
<tr>
<td>Mean Perimeter:</td>
<td><input type="number" name="mean_perimeter"step="0.000001" required></td>
</tr>
<tr>
<td>Mean Area:</td>
<td><input type="number" name="mean_area"step="0.000001" required></td>
</tr>
<tr>
<td>Mean Smoothness:</td>
<td><input type="number" name="mean_smoothness"step="0.000001" required></td>
</tr>
<tr>
<td>Mean Compactness:</td>
<td><input type="number" name="mean_compactness"step="0.000001" required></td>
</tr>
<tr>
<td>Mean Concavity:</td>
<td><input type="number" name="mean_concavity"step="0.000001" required></td>
</tr>
<tr>
<td>Mean Concave Points:</td>
<td><input type="number" name="mean_concave_points"step="0.000001" required></td>
</tr>
<tr>
<td>Mean Symmetry:</td>
<td><input type="number" name="mean_symmetry"step="0.000001" required></td>
</tr>
<tr>
<td>Mean Fractal Dimension:</td>
<td><input type="number" name="mean_fractal_dimension"step="0.000001" required></td>
</tr>

<tr>
<td>Radius Error:</td>
<td><input type="number" name="radius_error"step="0.000001" required></td>
</tr>
<tr>
<td>Texture Error:</td>
<td><input type="number" name="texture_error"step="0.000001" required></td>
</tr>
<tr>
<td>Perimeter Error:</td>
<td><input type="number" name="perimeter_error"step="0.000001" required></td>
</tr>
<tr>
<td>Area Error:</td>
<td><input type="number" name="area_error"step="0.000001" required></td>
</tr>
<tr>
<td>Smoothness Error:</td>
<td><input type="number" name="smoothness_error"step="0.000001" required></td>
</tr>
<tr>
<td>Compactness Error:</td>
<td><input type="number" name="compactness_error"step="0.000001" required></td>
</tr>
<tr>
<td>Concavity Error:</td>
<td><input type="number" name="concavity_error"step="0.000001" required></td>
</tr>
<tr>
<td>Concave Points Error:</td>
<td><input type="number" name="concave_points_error"step="0.000001" required></td>
</tr>
<tr>
<td>Symmetry Error:</td>
<td><input type="number" name="symmetry_error"step="0.000001" required></td>
</tr>
<tr>
<td>Fractal Dimension Error:</td>
<td><input type="number" name="fractal_dimension_error"step="0.000001" required></td>
</tr>

<tr>
<td>Worst Radius:</td>
<td><input type="number" name="worst_radius"step="0.000001" required></td>
</tr>
<tr>
<td>Worst Texture:</td>
<td><input type="number" name="worst_texture"step="0.000001" required></td>
</tr>
<tr>
<td>Worst Perimeter:</td>
<td><input type="number" name="worst_perimeter"step="0.000001" required></td>
</tr>
<tr>
<td>Worst Area:</td>
<td><input type="number" name="worst_area"step="0.000001" required></td>
</tr>
<tr>
<td>Worst Smoothness:</td>
<td><input type="number" name="worst_smoothness"step="0.000001" required></td>
</tr>
<tr>
<td>Worst Compactness:</td>
<td><input type="number" name="worst_compactness"step="0.000001" required></td>
</tr>
<tr>
<td>Worst Concavity:</td>
<td><input type="number" name="worst_concavity"step="0.000001" required></td>
</tr>
<tr>
<td>Worst Concave Points:</td>
<td><input type="number" name="worst_concave_points"step="0.000001" required></td>
</tr>
<tr>
<td>Worst Symmetry:</td>
<td><input type="number" name="worst_symmetry"step="0.000001" required></td>
</tr>
<tr>
<td>Worst Fractal Dimension:</td>
<td><input type="number" name="worst_fractal_dimension"step="0.000001" required></td>
</tr>

<button type="submit">Predict</button>
</form>

<!-- Display prediction result -->
{% if result %}
    <h2>Result: {{ result }}</h2>
{% endif %}
</body>
</html>