*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.wrapper{
    display: flex;
    justify-content: center;
    background: url('../imgs/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper .home{
    background: white;
    padding: 10px;
}